/* body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
}
a { color: inherit;
}
* {
  box-sizing: border-box;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.5)
}
.menubar img {
  height: 100%;
  width: auto;
}
.menubar a {
  height: 20px;
  text-transform: none;
  color: #aaa;
} */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
}
a { color: inherit;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #aaa;
  -webkit-box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.5);
  background: white;
}
.menubar img {
  height: 100%;
  width: auto;
}
.menubar a {
  height: 20px;
  text-transform: none;
  color: #aaa;
}
